body {
    background-color: lightyellow;
}

.sidebar {
    width: 60px;
    background-color: #333;
    padding: 10px;
    transition: 0.5s;
    overflow: hidden;
    height: auto;
}

.sidebar.open {
    width: 200px;
}

.btn-tele {
    display: block;
    background-color: #555;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

/* Same as home/styles.css comment */

.sidebar:not(.open) .btn-tele {
    opacity: 0;
    pointer-events: none;
}

.sidebar.open .btn-tele {
    opacity: 1;
    pointer-events: auto;
}

.btn-tele:hover {
    background-color: #777;
}

table {
  width: 80%;
}

th, td {
  text-align: center;
  vertical-align: middle;
}
